@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.mt12 {
  margin-top: 12px;
}

.mt-6 {
  margin-top: 6px;
}

.mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ptb-0 {
  padding: 0;
}

.ptb-0 {
  padding: 0;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  position: relative;
}

.header {
  position: relative;
  width: 100vw;
}
.header__title {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #555;
  font-size: 16px;
  padding-top: 57px;
  padding-bottom: 9px;
}
.header__arrowLeft,
.header__info {
  position: absolute;
  display: inline-block;
  top: 55px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header__arrowLeft img,
.header__info img {
  width: 100%;
}
.header__arrowLeft {
  left: 24px;
}
.header__info {
  right: 24px;
}

.main {
  width: 100vw;
}
.main .section__2,
.main .section__1 {
  width: 100%;
}
.main .section__1 {
  background-color: #2eb6c7;
}
.main .section__2 {
  background-color: #f5f5f5;
}
.main .section__2.tpeExplore {
  height: calc(100vh - 84px);
}
.main .section__2.weatherSection {
  height: calc(100vh - 513px);
}

.block {
  padding: 24px;
}
.block__title {
  font-size: 14px;
  font-family: "Noto Sans TC", sans-serif;
  color: #959595;
  padding: 0 24px;
}
.block__titleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.block__titleBlock .block__title.whitFont {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.block__titleBlock .block__link.whitFont {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.block__titleBlock .block__link.whitFont span {
  line-height: 24px;
  display: inline-block;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
.block__titleBlock .block__link.whitFont svg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.block__imgBlock {
  height: 180px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 16px;
}
.block__imgBlock a {
  display: block;
  width: 100%;
  height: inherit;
  text-decoration: none;
}
.block__imgBlock p {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
  margin: 0;
  position: absolute;
  right: 15px;
}
.block__imgBlock p:first-child {
  font-size: 32px;
  font-weight: 600;
  bottom: 40px;
}
.block__imgBlock p:nth-child(2) {
  font-size: 16px;
  bottom: 16px;
}
.block__imgBlock:first-child {
  background-image: url("bg/Group 14354@2x_1.jpg");
}
.block__imgBlock:nth-child(2) {
  background-image: url("bg/Group 14355@2x_1.jpg");
}
.block__imgBlock:nth-child(3) {
  background-image: url("bg/信義商圈.jpg");
  -webkit-box-shadow: -2px -13px 78px 11px #4f4b4b inset;
  box-shadow: -2px -13px 78px 11px #4f4b4b inset;
}

.page__title,
.page__title__second {
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  font-weight: 600;
}

.page__title {
  font-size: 24px;
  margin-bottom: 12px;
}
.page__title.mtb-16 {
  margin: 16px 0;
}
.page__title__second {
  font-size: 16px;
  padding: 16px 0;
  margin-bottom: 0;
}
.page__title__second a {
  float: right;
  font-weight: normal;
  color: #2eb6c7;
}
.page__title__second.ptb-0 {
  padding: 0;
}

.page a.page__info {
  text-decoration: none;
  color: #333;
}

.page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 0;
}
.page__info.pb-6 {
  padding-top: 0;
  padding-bottom: 6px;
}
.page__info.ptb-6 {
  padding: 6px 0;
}
.page__info__img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
.page__info__img img {
  width: 100%;
  text-align: center;
}
.page__info__img.mr {
  margin-right: 8px;
}
.page__info__title {
  display: inline-block;
  font-family: "Noto Sans TC", sans-serif;
}
.page__info__title a {
  color: #333;
}
.page__info__result {
  font-family: "Noto Sans TC", sans-serif;
}
.page__info__result--level1 {
  color: #66aa00;
}
.page__info__result--level2 {
  color: #f5ba4b;
}
.page__info__result--level3 {
  color: #d86c1d;
}
.page__info__result--level4 {
  color: #e5464b;
}
.page__info__result--level5 {
  color: #8346e5;
}
.page__info__result--level6 {
  color: #550e91;
}
.page__info__next {
  width: 24px;
}
.page__info__next img {
  width: 100%;
}
.page__info.section2 .page__info__img {
  margin-right: 8px;
}
.page__info.section2 .page__info__title:not(:last-child) {
  margin-right: 20px;
}
.page__info__streetPic {
  width: 100%;
  height: 160px;
  overflow: hidden;
  -o-object-fit: contain;
  object-fit: contain;
}
.page__info__streetPic img {
  width: 100%;
}
.page__info__block > div:first-child {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  color: #333;
}
.page__info__block > div:nth-child(2) {
  font-family: "Noto Sans TC", sans-serif;
  color: #959595;
  font-size: 14px;
  margin-top: 4px;
}

.page__Progress {
  padding-bottom: 35px;
}
.page__Progress__bar {
  border-radius: 50px;
  height: 16px;
  position: relative;
}
.page__Progress--air span {
  width: calc(100% / 6);
}
.page__Progress--air span:nth-child(6) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.page__Progress--uv span {
  width: calc(100% / 5);
}
.page__Progress--uv span:nth-child(5) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.page__Progress span {
  height: 100%;
  display: inline-block;
}
.page__Progress span:first-child {
  background-color: #66aa00;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.page__Progress span:nth-child(2) {
  background-color: #f5ba4b;
}
.page__Progress span:nth-child(3) {
  background-color: #d86c1d;
}
.page__Progress span:nth-child(4) {
  background-color: #e5464b;
}
.page__Progress span:nth-child(5) {
  background-color: #8346e5;
}
.page__Progress span:nth-child(6) {
  background-color: #550e91;
}

.page .progress__ping {
  position: absolute;
  z-index: 999;
  top: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page .progress__ping--airLevel1 {
  left: calc(((100% / 6) / 2) * 1);
}
.page .progress__ping--airLevel2 {
  left: calc(((100% / 6) / 2) * 3);
}
.page .progress__ping--airLevel3 {
  left: calc(((100% / 6) / 2) * 5);
}
.page .progress__ping--airLevel4 {
  left: calc(((100% / 6) / 2) * 7);
}
.page .progress__ping--airLevel5 {
  left: calc(((100% / 6) / 2) * 9);
}
.page .progress__ping--airLevel6 {
  left: calc(((100% / 6) / 2) * 11);
}
.page .progress__ping--uvLevel1 {
  left: calc(((100% / 5) / 2) * 1);
}
.page .progress__ping--uvLevel2 {
  left: calc(((100% / 5) / 2) * 3);
}
.page .progress__ping--uvLevel3 {
  left: calc(((100% / 5) / 2) * 5);
}
.page .progress__ping--uvLevel4 {
  left: calc(((100% / 5) / 2) * 7);
}
.page .progress__ping--uvLevel5 {
  left: calc(((100% / 5) / 2) * 9);
}
.page .progress__ping--pplLevel1 {
  left: calc(((100% / 3) / 2) * 1);
}
.page .progress__ping--pplLevel2 {
  left: calc(((100% / 3) / 2) * 3);
}
.page .progress__ping--pplLevel3 {
  left: calc(((100% / 3) / 2) * 5);
}
.page .progress__ping--icon {
  position: relative;
  width: 18px;
  height: 31px;
}
.page .progress__ping--circle {
  height: 18px;
  width: 18px;
  background-color: #333;
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  bottom: 0;
}
.page .progress__ping--oval {
  background-color: #333;
  height: 25px;
  width: 5px;
  position: absolute;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 5px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.page .progress__ping--triangle {
  position: absolute;
  z-index: 1000;
  width: 0;
  height: 0;
  border-style: solid;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 3px;
}
.page .progress__ping--triangleBig {
  border-width: 0 8px 17px 8px;
  border-color: transparent transparent #fff transparent;
  top: 1px;
}
.page .progress__ping--triangleSmall {
  top: 5px;
  border-width: 0 4.5px 10px 4.5px;
  border-color: transparent transparent #333 transparent;
}

.page__link {
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  font-weight: 500;
}

.page__link2 {
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 14px;
}

.cls-2 {
  fill: #66aa00;
  stroke: #66aa00;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
}

.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 18px;
  width: 2px;
  background-color: #333;
}

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check {
  display: inline-block;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrapper.typeOf .check:first-child,
.wrapper.typeOf .check:last-child {
  margin-bottom: 8px;
}
.wrapper.areaCode .check:nth-child(11),
.wrapper.areaCode .check:last-child {
  margin-bottom: 8px;
}
.wrapper.warmLight .check:last-child {
  margin-bottom: 8px;
}
.wrapper .check {
  cursor: pointer;
  width: calc((100% / 2) - 10px);
  display: inline-block;
}
.wrapper .check:not(:first-child),
.wrapper .check:not(:nth-child(2)) {
  margin-bottom: 12px;
}
.wrapper .check__input[type="checkbox"] {
  display: none;
}
.wrapper .check__input[type="checkbox"] + span {
  width: 100%;
  display: inline-block;
  border: 1px solid none;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 0;
  border-radius: 8px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.wrapper .check__input[type="checkbox"]:checked + span {
  color: #fff;
  background-color: #2eb6c7;
}

.result__all__list .page__Progress {
  padding-bottom: 0px;
  display: inline-block;
  margin-right: 8px;
}
.result__all__list .page__Progress__bar {
  height: 8px;
}
.result__all__list .page__Progress--people span {
  width: 24px;
}
.result__all__list .page__Progress--people span:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e5464b;
}

.btn__search {
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #2eb6c7;
  color: #fff;
}

.filter {
  border: 1px solid #2eb6c7;
  background: #2eb6c7;
  border-radius: 10px;
  margin-left: 8px;
}
.filter img {
  width: 25px;
  padding: 12px;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px 0;
}
.search .cross {
  display: none;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 64px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background-color: #dddddd;
  border-radius: 20px;
}
.search .cross .close {
  width: 0px;
  height: 0px;
  top: 25%;
  left: 45%;
}
.search .cross .close::before,
.search .cross .close::after {
  background-color: #959595;
  height: 13px;
}
.search .cross.active {
  display: block;
  opacity: 1;
}
.search__index {
  padding-top: 8px;
  padding-bottom: 8px;
}
.search__index .cross {
  right: 130px;
}

.searchTerm {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  border-right: none;
  padding: 12px 50px 12px 12px;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-family: "Noto Sans TC", sans-serif;
  width: calc(100% - 48px);
  color: #333;
}
.searchTerm::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}
.searchTerm::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}
.searchTerm:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}
.searchTerm::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}
.searchTerm::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595;
  opacity: 1;
  /* Firefox */
}
.searchTerm:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #959595;
}
.searchTerm::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #959595;
}

.searchButton {
  padding: 0;
  border: 1px solid #2eb6c7;
  background: #2eb6c7;
  text-align: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.searchButton img {
  width: 25px;
  padding: 12px;
}

.searchTerm[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
}
.result__img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 8px;
}
.result__img img {
  width: auto;
  height: 100%;
}
.result__info {
  width: calc(100% - 136px);
}
.result__info > div {
  font-family: "Noto Sans TC", sans-serif;
  padding: 4px 0;
}
.result__info__place {
  color: #333;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.result__info__address img,
.result__info__situation img {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}
.result__info__situation {
  font-weight: 600;
}
.result__info__address {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
}
.result__info__address a {
  color: #333;
}
.result__none {
  padding: 8px 0 16px 0;
  font-family: "Noto Sans TC", sans-serif;
  color: #959595;
  display: none;
}
.result__all.active {
  height: 100%;
}
.result__all.active .result__all__list {
  overflow-y: scroll;
}
.result__all.active .result__all__list .result:last-child {
  margin-bottom: 70px;
}
.result__all.map__pin--active {
  height: 69px !important;
}
.result__all {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 191px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-x: hidden;
  z-index: 998;
}
.result__all .block {
  padding: 0;
  background-color: #fff;
  position: relative;
  height: 100%;
}
.result__all__titleBlock {
  padding-top: 24px;
  padding-bottom: 17px;
  display: block;
}
.result__all__titleBlock a {
  padding-top: 8px;
  float: right;
  font-weight: normal;
  color: #2eb6c7;
  display: inline-block;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
}
.result__all__titleBlock .page__title {
  width: calc(100% - 80px);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  display: inline-block;
}
.result__all .page__info__next {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 24px;
}
.result__all__title {
  position: absolute;
  width: calc(100% - 48px);
  z-index: 1000;
  background-color: #fff;
  padding: 0 24px;
}
.result__all__list {
  padding: 69px 24px 0;
  height: calc(100% - 69px);
  overflow-y: hidden;
}

.map {
  background-color: #f5f5f5;
  width: 100%;
  height: calc(100vh - 171px);
  position: relative;
}
.map__background {
  width: 100%;
  height: inherit;
  display: none;
  position: absolute;
}
.map__background.active {
  display: block;
}
.map__pin {
  background-color: #fff;
  width: calc(100% - 32px);
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  left: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}
.map__pin .result {
  padding: 16px;
}
.map__pin .result__info {
  width: calc(100% - 150px);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.map__pin .result .page__info__next {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 12px;
}
.map__pin .result__all__list {
  padding: 0;
}
.map__pin.active {
  display: block;
  bottom: 89px;
  opacity: 1;
}

.btn__pin {
  position: absolute;
  z-index: 99;
}

.btn__map.active {
  display: block;
  opacity: 1;
}

.btn__map {
  background-color: #2eb6c7;
  color: #fff;
  padding: 16px 24px;
  border-radius: 100px;
  width: 116px;
  border: none;
  font-weight: 600;
  position: fixed;
  bottom: 15px;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
  cursor: pointer;
  opacity: 0;
}
.btn__map img {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.modal {
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border-radius: 10px;
}
.modal__block {
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.modal > div {
  font-family: "Noto Sans TC", sans-serif;
}
.modal__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #333;
}
.modal__content {
  width: 270px;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 31px;
  line-height: 1.5;
  text-align: left;
  color: #333;
}
.modal__btn {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  border-top: 1px solid #f5f5f5;
  color: #2eb6c7;
}
.modal__background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 999;
  display: none;
}

.title16 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  position: relative;
}
.title16__checkbox {
  position: absolute;
  right: 40px;
  font-weight: normal;
}

.readMe .result__all__list {
  padding: 0;
}

.accordion {
  width: 100vw;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

.accordion li {
  position: relative;
  list-style: none;
}
.accordion li .block__accordion__info {
  display: none;
}
.accordion li .block__accordion__info .block__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 8px;
  padding-top: 16px;
}

.accordion li:focus-visible,
.accordion li:focus,
.accordion li:focus-within {
  outline: none;
}

.accordion .block__accordion__li {
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  padding: 16px 24px;
}
.accordion .block__accordion__li img {
  width: 24px;
  vertical-align: sub;
  margin-right: 16px;
}

.accordion .block__accordion__li:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  position: absolute;
  right: 34px;
  content: " ";
  top: 22px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.accordion .block__accordion__li.active {
  background-color: #f5f5f5;
}

.accordion .block__accordion__li.active:after {
  top: 27px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.block__accordion__info {
  padding: 0px 24px 0px 24px;
  background-color: #f5f5f5;
}
.block__accordion__info .accordion__info__top {
  font-family: "Noto Sans TC", sans-serif;
  width: calc(100% - 80px);
}
.block__accordion__info .accordion__info__sup {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.block__accordion__info .accordion__info__sub {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 1.71;
  padding-bottom: 15px;
}
.block__accordion__info .accordion__info__link {
  color: #2eb6c7;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.block__accordion__info .accordion__info__link.disLink {
  pointer-events: none;
  color: #959595;
  cursor: default;
  text-decoration: none;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  right: 20px;
  content: " ";
  top: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 23px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 16px;
  border: 1px solid #dddddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #f5f5f5;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #2eb6c7;
  color: #fff;
}

.select {
  margin-top: 8px;
  margin-bottom: 16px;
}

.coupon {
  width: 100%;
  margin-bottom: 16px;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(51, 51, 51, 0.1));
  filter: drop-shadow(0px 0px 6px rgba(51, 51, 51, 0.1));
}
.coupon__content {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  line-height: 1.71;
  margin-top: 8px;
  margin-bottom: 16px;
}
.coupon__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 8px;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.coupon__img.disable::before {
  content: "已結束";
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  display: block;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 40% 30%;
  z-index: 999;
}
.coupon__img img {
  height: 100%;
}
.coupon__info {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.71;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.coupon__title {
  font-weight: 500;
  color: #333;
  position: relative;
}
.coupon__checkbox {
  position: absolute;
  right: 0;
}
.coupon__checkbox.disable {
  border: 2px solid #dddddd;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.coupon__checkbox.disable span {
  content: "";
  display: inline-block;
  border: 2px solid #dddddd;
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: inherit;
  height: 48px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
.coupon__num,
.coupon__age,
.coupon__date {
  font-weight: normal;
  font-size: 14px;
}
.coupon__num span,
.coupon__age span,
.coupon__date span {
  margin: 0 3px;
}
.coupon__num {
  color: #2eb6c7;
}
.coupon__age,
.coupon__date {
  color: #959595;
}
.coupon__top,
.coupon__bottom {
  padding: 12px;
  background-color: #fff;
  -webkit-mask-composite: source-in;
}
.coupon__top {
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-mask: radial-gradient(circle at 0 100%, transparent 10px, red 0),
    radial-gradient(circle at right 100%, transparent 10px, red 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.coupon__bottom {
  position: relative;
  -webkit-mask: radial-gradient(circle at 0 0, transparent 10px, red 0),
    radial-gradient(circle at right 0, transparent 10px, red 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.coupon__bottom::before {
  content: "";
  display: block;
  width: 80%;
  border-top: 1px dashed #dddddd;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.coupon__block {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.coupon__block__info,
.coupon__block__info.link {
  font-size: 14px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  line-height: 1.71;
}
.coupon__block__info.link {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center;
}
.coupon__block__info.link a {
  color: #2eb6c7;
}
.coupon__block__info {
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.coupon__block__info.active {
  overflow-wrap: inherit;
  white-space: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
}
.coupon__block__arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
  overflow: hidden;
}
.coupon__block__arrow img {
  width: 100%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.coupon__block__arrow img.active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.checkBoxCustom {
  display: none;
}

.checkBoxCustom + label {
  border: 2px solid #dddddd;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.checkBoxCustom:checked + label {
  background-color: #2eb6c7;
  border: 2px solid #2eb6c7;
}

.checkBoxCustom:checked + label:before {
  color: #fff;
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title16 .coupon__checkbox .checkBoxCustom:checked + label:before {
  top: 50%;
}

/* 平板  */
/* 手機 mobile  */
@media only screen and (max-width: 576px) {
  .block__imgBlock {
    background-size: auto 100%;
  }
  .block__imgBlock:nth-child(3) {
    background-size: 100% auto;
  }
}
